<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Negocio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-container">
    <div class="header-content">
      <h2>Registro de Negocio</h2>
    </div>
  </div>
  <div class="form-container">
    <div class="info-alert">
      <ion-icon name="information-circle-outline"></ion-icon>
      <div class="info-content">
        <h3>Información Importante</h3>
        <p>
          Complete todos los campos marcados con * (asterisco rojo). Revise que
          los datos cumplan con los requisitos especificados.
        </p>
      </div>
    </div>
  </div>
  <form [formGroup]="registerBusiness" (ngSubmit)="onSubmit()">
    <!-- Campo de categoría -->
    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline" [class.error-field]="hasError('categoryId')">
        <ion-label position="stacked">Categoría <span class="required">*</span></ion-label>
        <ion-select formControlName="categoryId" interface="popover">
          <ion-select-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-message" *ngIf="hasError('categoryId')">
        {{ getErrorMessage('categoryId') }}
      </div>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline" [class.error-field]="hasError('commercialName')">
        <ion-label position="stacked">
          Nombre Comercial (¿Cómo se llama su emprendimiento?) <span class="required">*</span>
        </ion-label>
        <ion-input formControlName="commercialName" type="text" maxlength="100"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="hasError('commercialName')">
        {{ getErrorMessage('commercialName') }}
      </div>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline" [class.error-field]="hasError('phone')">
        <ion-label position="stacked">Teléfono <span class="required">*</span></ion-label>
        <div class="country">
        <ion-select interface="popover" class="w-28" formControlName="countryCodePhone">
          <ion-select-option value="+593">🇪🇨 +593</ion-select-option>
          <ion-select-option value="+57">🇨🇴 +57</ion-select-option>
          <ion-select-option value="+52">🇲🇽 +52</ion-select-option>
          <ion-select-option value="+34">🇪🇸 +34</ion-select-option>
        </ion-select>
        <ion-input formControlName="phone" type="tel" maxlength="9" placeholder="999999999"></ion-input>
      </div>
      </ion-item>
      <div class="error-message" *ngIf="hasError('phone')">
        {{ getErrorMessage('phone') }}
      </div>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline" [class.error-field]="hasError('parishCommunitySector')">
        <ion-label position="stacked">Sector comunitario parroquial <span class="required">*</span></ion-label>
        <ion-input formControlName="parishCommunitySector" type="text"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="hasError('parishCommunitySector')">
        {{ getErrorMessage('parishCommunitySector') }}
      </div>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline" [class.error-field]="hasError('description')">
        <ion-label position="stacked">Descripción <span class="required">*</span></ion-label>
        <ion-textarea formControlName="description" placeholder="Escribe aquí..." autoGrow="true"></ion-textarea>
      </ion-item>
      <div class="error-message" *ngIf="hasError('description')">
        {{ getErrorMessage('description') }}
      </div>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline" [class.error-field]="hasError('address')">
        <ion-label position="stacked">Dirección <span class="required">*</span></ion-label>
        <ion-textarea formControlName="address" placeholder="Escribe aquí..." autoGrow="true"></ion-textarea>
      </ion-item>
      <div class="error-message" *ngIf="hasError('address')">
        {{ getErrorMessage('address') }}
      </div>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline" [class.error-field]="hasError('website')">
        <ion-label position="stacked">Sitio Web (Opcional)</ion-label>
        <ion-input formControlName="website" type="url" maxlength="100"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="hasError('website')">
        {{ getErrorMessage('website') }}
      </div>
    </div>

    <!-- WhatsApp toggle y campo -->
    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline">
        <ion-label position="stacked">¿Acepta pedidos por WhatsApp?</ion-label>
        <ion-toggle formControlName="acceptsWhatsappOrders"></ion-toggle>
      </ion-item>
    </div>

   <div *ngIf="registerBusiness.get('acceptsWhatsappOrders')?.value">
      <div class="form-field-wrapper">
        <ion-item class="form-field" fill="outline">
          <ion-label position="stacked">WhatsApp <span class="required">*</span></ion-label>
          <div class="country">
            <ion-select interface="popover" class="w-28" formControlName="countryCode">
              <ion-select-option value="+593">🇪🇨 +593</ion-select-option>
              <ion-select-option value="+57">🇨🇴 +57</ion-select-option>
              <ion-select-option value="+52">🇲🇽 +52</ion-select-option>
              <ion-select-option value="+34">🇪🇸 +34</ion-select-option>
            </ion-select>
            <ion-input formControlName="whatsappNumber" type="tel" maxlength="9" placeholder="999999999"></ion-input>
          </div>
        </ion-item>
        <div class="error-message" *ngIf="hasError('whatsappNumber')">
          {{ getErrorMessage('whatsappNumber') }}
        </div>
      </div>
    </div>

    <!-- Campo de coordenadas con mapa integrado -->
    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline" [class.error-field]="hasError('googleMapsCoordinates')">
        <ion-label position="stacked">Coordenadas de Google Maps <span class="required">*</span></ion-label>
        <ion-input formControlName="googleMapsCoordinates" type="text" maxlength="100" readonly></ion-input>
      </ion-item>
      
      <!-- Botón para abrir el mapa -->
      <ion-button fill="outline" color="primary" (click)="openMap()" class="map-button">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        Seleccionar ubicación en el mapa
      </ion-button>
      
      <div class="error-message" *ngIf="hasError('googleMapsCoordinates')">
        {{ getErrorMessage('googleMapsCoordinates') }}
      </div>
    </div>

    <!-- Modal del mapa -->
    <ion-modal [isOpen]="showMap" (didDismiss)="closeMap()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Seleccionar Ubicación</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeMap()">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="map-info">
            <p>Toca en el mapa o arrastra el marcador para seleccionar tu ubicación exacta</p>
            <ion-button fill="outline" size="small" (click)="centerOnCurrentLocation()">
              <ion-icon name="locate-outline" slot="start"></ion-icon>
              Mi ubicación actual
            </ion-button>
          </div>
          
          <!-- Contenedor del mapa -->
          <div #mapContainer class="map-container" id="map"></div>
          
          <div class="map-actions">
            <ion-button expand="block" (click)="confirmLocation()" [disabled]="!registerBusiness.get('googleMapsCoordinates')?.value">
              <ion-icon name="checkmark-outline" slot="start"></ion-icon>
              Confirmar Ubicación
            </ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline" [class.error-field]="hasError('deliveryService')">
        <ion-label position="stacked">Servicio de Delivery</ion-label>
        <ion-select formControlName="deliveryService" placeholder="Seleccione una opción">
          <ion-select-option value="NO">No</ion-select-option>
          <ion-select-option value="SI">Si</ion-select-option>
          <ion-select-option value="BAJO_PEDIDO">Bajo Pedido</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-message" *ngIf="hasError('deliveryService')">
        {{ getErrorMessage('deliveryService') }}
      </div>
    </div>

    <div class="form-field-wrapper">
      <div formArrayName="schedules">
        <div>
          <ion-item fill="outline">
            <ion-label position="stacked">Lunes a Viernes<span class="required">*</span></ion-label>
            <ion-input [formControlName]="0" type="text" placeholder="HH:MM a HH:MM"></ion-input>
          </ion-item>
          <ion-item fill="outline">
            <ion-label position="stacked">Sabados de Domingos<span class="required">*</span></ion-label>
            <ion-input [formControlName]="1" type="text" placeholder="HH:MM a HH:MM"></ion-input>
          </ion-item>
        </div>
      </div>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline">
        <ion-label position="stacked">¿Recibió apoyo de UDEL? (opcional)</ion-label>
        <ion-toggle formControlName="receivedUdelSupport"></ion-toggle>
      </ion-item>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline" [class.error-field]="hasError('udelSupportDetails')">
        <ion-label position="stacked">Detalles del Apoyo UDEL (opcional)</ion-label>
        <ion-textarea formControlName="udelSupportDetails" placeholder="Escribe aquí..." autoGrow="true"></ion-textarea>
      </ion-item>
      <div class="error-message" *ngIf="hasError('udelSupportDetails')">
        {{ getErrorMessage('udelSupportDetails') }}
      </div>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline">
        <ion-label position="stacked">Fecha de Registro (Hoy)</ion-label>
        <ion-input formControlName="registrationDate" type="date" [value]="currentDate" readonly></ion-input>
      </ion-item>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline">
        <ion-label position="stacked">Facebook (opcional)</ion-label>
        <ion-input formControlName="facebook" type="text" maxlength="100"></ion-input>
      </ion-item>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline">
        <ion-label position="stacked">Instagram (opcional)</ion-label>
        <ion-input formControlName="instagram" type="text" maxlength="100"></ion-input>
      </ion-item>
    </div>

    <div class="form-field-wrapper">
      <ion-item class="form-field" fill="outline">
        <ion-label position="stacked">TikTok (opcional)</ion-label>
        <ion-input formControlName="tiktok" type="text" maxlength="100"></ion-input>
      </ion-item>
    </div>

    <!-- Upload de logo -->
    <div class="form-field-wrapper">
      <label id="logoFile" class="upload-label" for="logoFileInput">Logo del Negocio (opcional)</label>
      <div class="upload-box" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'logoFile')">
        <ion-icon name="folder-open" class="upload-icon"></ion-icon>
        <p>Arrastra tus archivos aquí o haz clic para seleccionar archivos</p>
        <input id="logoFileInput" type="file" accept=".jpg,.jpeg,.png" title="Logotipo (JPG o PNG, máx. 2 MB)"
          aria-labelledby="logoFileLabel logoFileHelp" aria-describedby="logoFileHelp"
          (change)="onFileChange($event, 'logoFile')" />
      </div>
      <div class="file-name" *ngIf="logoFile">
        <ion-icon name="document-outline"></ion-icon>
        <span>{{ logoFile.name }}</span>
      </div>
      <div class="upload-info" id="logoFile">
        <div>
          <ion-icon name="document-text-outline"></ion-icon><span>JPG, PNG</span>
        </div>
        <div>
          <ion-icon name="cloud-upload-outline"></ion-icon><span>2 MB por archivo</span>
        </div>
        <div>
          <ion-icon name="resize-outline"></ion-icon><span>Mínimo 800x600 px</span>
        </div>
      </div>
    </div>

    <!-- Upload de carrousel -->
    <div class="form-field-wrapper">
      <label id="carrouselPhotos" class="upload-label" for="carrouselPhotosInput">
        Carrousel de Imágenes (opcional)
      </label>
      <div class="upload-box" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'carrouselPhotos')">
        <ion-icon name="folder-open" class="upload-icon"></ion-icon>
        <p>Arrastra tus fotos aquí o haz clic para seleccionarlas</p>
        <input id="carrouselPhotosInput" type="file" multiple accept=".jpg,.jpeg,.png"
          title="Fotos de productos (JPG o PNG, máx. 2 MB cada una)"
          (change)="onFileChange($event, 'carrouselPhotos')" />
      </div>
      <div class="file-name" *ngIf="carrouselPhotos?.length">
        <div *ngFor="let photo of carrouselPhotos">
          <ion-icon name="image-outline"></ion-icon>
          <span>{{ photo.name }}</span>
        </div>
      </div>
      <div class="upload-info" id="carrouselPhotos">
        <div>
          <ion-icon name="document-text-outline"></ion-icon><span>JPG, PNG</span>
        </div>
        <div>
          <ion-icon name="cloud-upload-outline"></ion-icon><span>2 MB por archivo</span>
        </div>
        <div>
          <ion-icon name="resize-outline"></ion-icon><span>Mínimo 800x600 px</span>
        </div>
      </div>
    </div>

    <!-- Botón de envío -->
    <ion-button expand="block" type="submit" [disabled]="registerBusiness.invalid || isLoading">
      <ng-container *ngIf="!isLoading"> Registrar Negocio </ng-container>
      <ng-container *ngIf="isLoading">
        <ion-spinner name="crescent"></ion-spinner>
      </ng-container>
    </ion-button>
  </form>
</ion-content>