<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backUrl"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Promoción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-container">
    <div class="info-alert">
      <div class="info-content">
        <h3>Información Importante</h3>
        <p>
          Complete todos los campos marcados con * (asterisco rojo). Revise que
          los datos cumplan con los requisitos especificados.
        </p>
      </div>
    </div>
  </div>

</ion-content>